{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}

<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>Edit Producto</h3>
    </div>
    <div class="card-body">
      <form action="/productos/edit-producto/{{id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="mb-3">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            name="nombre"
            class="form-control"
            placeholder="{{nombre}}"
            value="{{nombre}}"
          />
        </div>
        <div class="mb-3">
          <label for="description">Descripcion:</label>
          <textarea
            name="descripcion"
            class="form-control"
          >{{descripcion}}</textarea>
        </div>
        <div class="mb-3">
          <label for="codigo">Codigo:</label>
          <input
            type="text"
            name="codigo"
            class="form-control"
            value="{{codigo}}"
          />
        </div>
        <div class="mb-3">
          <label for="foto">Foto:</label>
          <input
            type="text"
            name="foto"
            class="form-control"
            value="{{foto}}"
          />
        </div>
        <div class="mb-3">
          <label for="precio">Precio:</label>
          <input
            type="text"
            name="precio"
            class="form-control"
            value="{{precio}}"
          />
        </div>
        <div class="mb-3">
          <label for="stock">Stock:</label>
          <input
            type="text"
            name="stock"
            class="form-control"
            value="{{stock}}"
          />
        </div>
        <button class="btn btn-primary w-100" type="submit">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>